@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <style>
        body {
            background-color: #e5ccca;
        }
        #front
        {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    </style>
</head>
<body>
    </br>
    <div class="jumbotron" id="front">
        <h1 style="color:#4056a1">Star Cinema</h1>
        <h2 style="color:#4056a1" class="lead">Web application for movies information and movie ticket reservation</h2>    
    </div>
</body>
</html>
