@model CinemaStar.Models.Booking

@{
    ViewBag.Title = "Booking status";
}

<h2>Booking status</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <h3>You successfully booked this movie!</h3>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-primary" })
</p>
